# 4. 파일 저장 및 열기
DataFrame 객체를 excel,csv,txt 등 형태의 파일로 저장 및 열기

In [54]:
import pandas as pd
data ={
    "이름" : ["채치수", "정대만","송태섭","서태웅","강백호","변덕규","황태산","윤대협"],
    "학교" : ["북산고","북산고","북산고","북산고","북산고","능남고","능남고","능남고"],
    "키" : [197, 184, 168, 187, 188, 202, 188, 190],
    "국어" : [90, 40, 80, 40, 15, 80, 55, 100],
    "영어" : [85, 35, 75, 60, 20, 100, 65, 85],
    "수학" : [100, 50, 70, 70, 10, 95, 46, 90],
    "과학" : [95, 55, 80, 75, 35, 85, 40, 95],
    "사회" : [85, 25, 75, 80, 10, 80, 35, 95],
    "SW특기" : ["Python", "Java", "Javascript", "", "", "C", "Python", "C#"]
}
df = pd.DataFrame(data, index = ["1번","2번","3번","4번","5번","6번","7번","8번"])
df.index.name ="지원번호" 
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80
5번    강백호  북산고  188   15   20   10  35  10
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

## 저장하기
###  csv 파일로 저장
csv 파일을 엑셀에서 열면 한글이 깨짐 => 인코딩 문제
encoding ="utf-8-sig"

In [55]:
df.to_csv("score.csv", encoding = 'utf-8-sig')
# 파일이 열려있으면 안바뀜...

In [69]:
df.to_csv("score.csv", encoding = 'utf-8-sig',  index =False)
# 인덱스만 빼고 저장. "이름" = False / 이런건 안됨

### 텍스트(.txt)파일로 저장

In [57]:
df.to_csv("score.txt", sep='\t') #tab으로 구분되는 텍스트 파일

### 엑셀 파일로 저장

In [58]:
df.to_excel("score.xlsx")

## 열기
### csv 파일 열기

In [59]:
df = pd.read_csv("score.csv")
df

    이름   학교    키   국어   영어   수학  과학  사회        SW특기
0  채치수  북산고  197   90   85  100  95  85      Python
1  정대만  북산고  184   40   35   50  55  25        Java
2  송태섭  북산고  168   80   75   70  80  75  Javascript
3  서태웅  북산고  187   40   60   70  75  80         NaN
4  강백호  북산고  188   15   20   10  35  10         NaN
5  변덕규  능남고  202   80  100   95  85  80           C
6  황태산  능남고  188   55   65   46  40  35      Python
7  윤대협  능남고  190  100   85   90  95  95          C#

In [60]:
df = pd.read_csv("score.csv", skiprows = 1)
df
# 이름, 학교, 키 등 row 한개를 스킵한다.

   채치수  북산고  197   90   85  100  95  85.1      Python
0  정대만  북산고  184   40   35   50  55    25        Java
1  송태섭  북산고  168   80   75   70  80    75  Javascript
2  서태웅  북산고  187   40   60   70  75    80         NaN
3  강백호  북산고  188   15   20   10  35    10         NaN
4  변덕규  능남고  202   80  100   95  85    80           C
5  황태산  능남고  188   55   65   46  40    35      Python
6  윤대협  능남고  190  100   85   90  95    95          C#

In [61]:
df=pd.read_csv("score.csv", skiprows =[1,3,5])
df
# 1,3,5 row는 제외한다(row 0부터 시작)
# 위에서 채치수가 1번이 되었으니, 반영됨

    이름   학교    키   국어   영어  수학  과학  사회    SW특기
0  정대만  북산고  184   40   35  50  55  25    Java
1  서태웅  북산고  187   40   60  70  75  80     NaN
2  변덕규  능남고  202   80  100  95  85  80       C
3  황태산  능남고  188   55   65  46  40  35  Python
4  윤대협  능남고  190  100   85  90  95  95      C#

In [62]:
df= pd.read_csv("score.csv", nrows =4 )
df
#지정된 갯수 만큼의 row만 가져옴.
#맨 위 rows는 가져와짐.

    이름   학교    키  국어  영어   수학  과학  사회        SW특기
0  채치수  북산고  197  90  85  100  95  85      Python
1  정대만  북산고  184  40  35   50  55  25        Java
2  송태섭  북산고  168  80  75   70  80  75  Javascript
3  서태웅  북산고  187  40  60   70  75  80         NaN

In [63]:
df =pd.read_csv("score.csv", skiprows=2, nrows=4)
df
#첫번째 row(이름, 학교, 키 등등)은 columnHeader = key 로 0번 row
#skiprows=2 는 위에서 2개 그냥 스킵 vs skiprows =[2] 2번 row 스킵
#nrows는 columnHeader제외 4개 가지고 온다.

   정대만  북산고  184  40   35  50  55  25        Java
0  송태섭  북산고  168  80   75  70  80  75  Javascript
1  서태웅  북산고  187  40   60  70  75  80         NaN
2  강백호  북산고  188  15   20  10  35  10         NaN
3  변덕규  능남고  202  80  100  95  85  80           C

### 텍스트(.txt)파일 열기

In [64]:
df = pd.read_csv("score.txt", sep = "\t")
df

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80         NaN
4   5번  강백호  북산고  188   15   20   10  35  10         NaN
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   46  40  35      Python
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [65]:
df =pd.read_csv("score.txt", sep = "\t", index_col = "지원번호")
df
# 지원번호라는 column을 index로 설정

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

### 엑셀 파일 열기

In [66]:
df =pd.read_excel("score.xlsx")
df

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80         NaN
4   5번  강백호  북산고  188   15   20   10  35  10         NaN
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   46  40  35      Python
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [67]:
df = pd.read_excel("score.xlsx", index_col = "지원번호")
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#