# 10. 결측치
비어있는 데이터를 어떻게 처리할 것인가.

In [2]:
import pandas as pd
df = pd.read_excel("score.xlsx", index_col ="지원번호")
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

## 데이터 채우기 fillna

In [5]:
df.fillna(' ') # na의 데이터를 빈칸으로 채움

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80
5번    강백호  북산고  188   15   20   10  35  10
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [12]:
df.fillna("없음")

       이름  학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  없음  197   90   85  100  95  85      Python
2번    정대만  없음  184   40   35   50  55  25        Java
3번    송태섭  없음  168   80   75   70  80  75  Javascript
4번    서태웅  없음  187   40   60   70  75  80          없음
5번    강백호  없음  188   15   20   10  35  10          없음
6번    변덕규  없음  202   80  100   95  85  80           C
7번    황태산  없음  188   55   65   46  40  35      Python
8번    윤대협  없음  190  100   85   90  95  95          C#

In [13]:
import numpy as np
df["학교"]=np.nan  # 학교 데이터를 na로 채운다
df

# numpy는 행렬을 이용해 데이터를 관리하며 연산하는 툴

       이름  학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수 NaN  197   90   85  100  95  85      Python
2번    정대만 NaN  184   40   35   50  55  25        Java
3번    송태섭 NaN  168   80   75   70  80  75  Javascript
4번    서태웅 NaN  187   40   60   70  75  80         NaN
5번    강백호 NaN  188   15   20   10  35  10         NaN
6번    변덕규 NaN  202   80  100   95  85  80           C
7번    황태산 NaN  188   55   65   46  40  35      Python
8번    윤대협 NaN  190  100   85   90  95  95          C#

In [14]:
df.fillna("모름") #전체에 대해 넣는 값이다 보니 조심해야 함.

       이름  학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  모름  197   90   85  100  95  85      Python
2번    정대만  모름  184   40   35   50  55  25        Java
3번    송태섭  모름  168   80   75   70  80  75  Javascript
4번    서태웅  모름  187   40   60   70  75  80          모름
5번    강백호  모름  188   15   20   10  35  10          모름
6번    변덕규  모름  202   80  100   95  85  80           C
7번    황태산  모름  188   55   65   46  40  35      Python
8번    윤대협  모름  190  100   85   90  95  95          C#

In [21]:
df.fillna("모름", inplace = True)

In [22]:
df # 실제로 반영됨.

       이름  학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  모름  197   90   85  100  95  85      Python
2번    정대만  모름  184   40   35   50  55  25        Java
3번    송태섭  모름  168   80   75   70  80  75  Javascript
4번    서태웅  모름  187   40   60   70  75  80          모름
5번    강백호  모름  188   15   20   10  35  10          모름
6번    변덕규  모름  202   80  100   95  85  80           C
7번    황태산  모름  188   55   65   46  40  35      Python
8번    윤대협  모름  190  100   85   90  95  95          C#

In [25]:
import pandas as pd
df = pd.read_excel("score.xlsx", index_col ="지원번호")
df
# 원본 상태 그대로.

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [33]:
df["SW특기"].fillna("확인중", inplace=True)  #SW특기 데이터 중에서 NaN에 대해 채움, 아예 넣기

In [32]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         확인중
5번    강백호  북산고  188   15   20   10  35  10         확인중
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

### 데이터 제외하기 dropna

In [44]:
df = pd.read_excel("score.xlsx", index_col ="지원번호")
df
# 원본 상태 그대로.

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [38]:
df.dropna(inplace = True) # 전체 데이터 중 NaN을 포함하는 데이터 삭제

In [39]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [42]:
df = pd.read_excel("score.xlsx", index_col ="지원번호")
df
# 원본 상태 그대로.

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

axis : index or columns # index로 지울 것인가, column으로 지울 것인가
how : any or all # 그 부분만 지울 것인가, NaN이 전체일때만 지울 것인가

In [45]:
df.dropna(axis = "index", how = "any") #na가 하나라도 있는 데이터 삭제

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [52]:
df.dropna(axis = "columns", how = "any")

       이름   학교    키   국어   영어   수학  과학  사회
지원번호
1번    채치수  북산고  197   90   85  100  95  85
2번    정대만  북산고  184   40   35   50  55  25
3번    송태섭  북산고  168   80   75   70  80  75
4번    서태웅  북산고  187   40   60   70  75  80
5번    강백호  북산고  188   15   20   10  35  10
6번    변덕규  능남고  202   80  100   95  85  80
7번    황태산  능남고  188   55   65   46  40  35
8번    윤대협  능남고  190  100   85   90  95  95

In [54]:
df["학교"] =np.nan
df

       이름  학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수 NaN  197   90   85  100  95  85      Python
2번    정대만 NaN  184   40   35   50  55  25        Java
3번    송태섭 NaN  168   80   75   70  80  75  Javascript
4번    서태웅 NaN  187   40   60   70  75  80         NaN
5번    강백호 NaN  188   15   20   10  35  10         NaN
6번    변덕규 NaN  202   80  100   95  85  80           C
7번    황태산 NaN  188   55   65   46  40  35      Python
8번    윤대협 NaN  190  100   85   90  95  95          C#

In [56]:
df.dropna(axis = "columns", how ="all") # 한 column이 전체 다 NaN일때 삭제.

       이름    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  197   90   85  100  95  85      Python
2번    정대만  184   40   35   50  55  25        Java
3번    송태섭  168   80   75   70  80  75  Javascript
4번    서태웅  187   40   60   70  75  80         NaN
5번    강백호  188   15   20   10  35  10         NaN
6번    변덕규  202   80  100   95  85  80           C
7번    황태산  188   55   65   46  40  35      Python
8번    윤대협  190  100   85   90  95  95          C#