# 12. 데이터 수정

In [3]:
import pandas as pd
df = pd.read_excel("score.xlsx", index_col ="지원번호")
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

## Column 수정

In [7]:
df["학교"].replace({"북산고":"상북고", "능남고": "제천고"})  
# 북산고를 상북고로 변경 && 능남고는 제천고로 변경

지원번호
1번    상북고
2번    상북고
3번    상북고
4번    상북고
5번    상북고
6번    제천고
7번    제천고
8번    제천고
Name: 학교, dtype: object

In [10]:
df
# inplace를 하지 않아서 변경 안됨x

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [14]:
df["학교"].replace({"북산고" : "상북고","능남고" : "제천고"}, inplace =True)
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      Python
2번    정대만  상북고  184   40   35   50  55  25        Java
3번    송태섭  상북고  168   80   75   70  80  75  Javascript
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  제천고  202   80  100   95  85  80           C
7번    황태산  제천고  188   55   65   46  40  35      Python
8번    윤대협  제천고  190  100   85   90  95  95          C#

In [16]:
df["SW특기"].str.lower()

지원번호
1번        python
2번          java
3번    javascript
4번           NaN
5번           NaN
6번             c
7번        python
8번            c#
Name: SW특기, dtype: object

In [19]:
df["SW특기"] = df["SW특기"].str.lower()
df
# 소문자로 변경

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      python
2번    정대만  상북고  184   40   35   50  55  25        java
3번    송태섭  상북고  168   80   75   70  80  75  javascript
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  제천고  202   80  100   95  85  80           c
7번    황태산  제천고  188   55   65   46  40  35      python
8번    윤대협  제천고  190  100   85   90  95  95          c#

In [20]:
df["SW특기"] = df["SW특기"].str.upper()
df
# 대문자로 변

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      PYTHON
2번    정대만  상북고  184   40   35   50  55  25        JAVA
3번    송태섭  상북고  168   80   75   70  80  75  JAVASCRIPT
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  제천고  202   80  100   95  85  80           C
7번    황태산  제천고  188   55   65   46  40  35      PYTHON
8번    윤대협  제천고  190  100   85   90  95  95          C#

In [21]:
df["학교"] = df["학교"] + "등학교"
# 학교 데이터 + 등학교
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN
6번    변덕규  제천고등학교  202   80  100   95  85  80           C
7번    황태산  제천고등학교  188   55   65   46  40  35      PYTHON
8번    윤대협  제천고등학교  190  100   85   90  95  95          C#

## Column 추가

In [26]:
df["총합"] = df["국어"]+df["수학"]+df["영어"]+df["사회"]+df["과학"]
df
#총합 column 추가

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  325
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90
6번    변덕규  제천고등학교  202   80  100   95  85  80           C  440
7번    황태산  제천고등학교  188   55   65   46  40  35      PYTHON  241
8번    윤대협  제천고등학교  190  100   85   90  95  95          C#  465

In [29]:
df["결과"]= "Fail" 
#결과 column을 추가하고 전체 데이터를 Fail로 초기화
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455  Fail
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  제천고등학교  202   80  100   95  85  80           C  440  Fail
7번    황태산  제천고등학교  188   55   65   46  40  35      PYTHON  241  Fail
8번    윤대협  제천고등학교  190  100   85   90  95  95          C#  465  Fail

In [36]:
df.loc[ df["총합"]>400, "결과"] ="Pass"
#총합이 400보다  큰 row의 결과 데이터에 Pass를 넣어준다.
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  제천고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  제천고등학교  188   55   65   46  40  35      PYTHON  241  Fail
8번    윤대협  제천고등학교  190  100   85   90  95  95          C#  465  Pass

## Column 삭제

In [37]:
df.drop(columns =["총합"])
# 총합 Column 을 삭제한다

       이름      학교    키   국어   영어   수학  과학  사회        SW특기    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  Pass
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  Fail
4번    서태웅  상북고등학교  187   40   60   70  75  80         NaN  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN  Fail
6번    변덕규  제천고등학교  202   80  100   95  85  80           C  Pass
7번    황태산  제천고등학교  188   55   65   46  40  35      PYTHON  Fail
8번    윤대협  제천고등학교  190  100   85   90  95  95          C#  Pass

In [38]:
df.drop(columns =["국어","영어","수학"])
#국영수 데이터 삭제

       이름      학교    키  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168  80  75  JAVASCRIPT  380  Fail
4번    서태웅  상북고등학교  187  75  80         NaN  325  Fail
5번    강백호  상북고등학교  188  35  10         NaN   90  Fail
6번    변덕규  제천고등학교  202  85  80           C  440  Pass
7번    황태산  제천고등학교  188  40  35      PYTHON  241  Fail
8번    윤대협  제천고등학교  190  95  95          C#  465  Pass

## Row 삭제

In [40]:
df.drop(index ="4번")
# 4번 데이터 삭제

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85      PYTHON  455  Pass
2번    정대만  상북고등학교  184   40   35   50  55  25        JAVA  205  Fail
3번    송태섭  상북고등학교  168   80   75   70  80  75  JAVASCRIPT  380  Fail
5번    강백호  상북고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  제천고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  제천고등학교  188   55   65   46  40  35      PYTHON  241  Fail
8번    윤대협  제천고등학교  190  100   85   90  95  95          C#  465  Pass

In [50]:
filt = df["수학"]<80
df[filt].index
#아 인덱스는 이렇게 뽑는구나.
df.drop(index =df[filt].index)
#수학 점수가 80점 미만인 학생 삭제

       이름      학교    키   국어   영어   수학  과학  사회    SW특기   총합    결과
지원번호
1번    채치수  상북고등학교  197   90   85  100  95  85  PYTHON  455  Pass
6번    변덕규  제천고등학교  202   80  100   95  85  80       C  440  Pass
8번    윤대협  제천고등학교  190  100   85   90  95  95      C#  465  Pass