# 복습진행

In [14]:
import pandas as pd

temp = pd.Series([-20,-10,-30])  ## 대문자 필수
temp

0   -20
1   -10
2   -30
dtype: int64

In [15]:
## index 지정 가눙
temp = pd.Series([-20,-10,10,30],  index =["Jan","Fab","Mar","Apr"])
temp

Jan   -20
Fab   -10
Mar    10
Apr    30
dtype: int64

In [16]:
temp["Jan"]

np.int64(-20)

In [17]:
import pandas as pd
df = pd.read_excel("score.xlsx", index_col ="지원번호")
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [18]:
df.fillna(" ") # NAN의 데이터를 빈칸으로 채움. => 모든 NaN 데이터를 채우는 방식 => 별로 좋진 않지

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80
5번    강백호  북산고  188   15   20   10  35  10
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [19]:
df.fillna("없음")

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80          없음
5번    강백호  북산고  188   15   20   10  35  10          없음
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [20]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [11]:
import numpy as np
df["학교"] = np.nan ##학교 데이터를 na로 채움 
df
#행렬을 이용하여 데이터를 관리하는 툴.

       이름  학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수 NaN  197   90   85  100  95  85      Python
2번    정대만 NaN  184   40   35   50  55  25        Java
3번    송태섭 NaN  168   80   75   70  80  75  Javascript
4번    서태웅 NaN  187   40   60   70  75  80         NaN
5번    강백호 NaN  188   15   20   10  35  10         NaN
6번    변덕규 NaN  202   80  100   95  85  80           C
7번    황태산 NaN  188   55   65   46  40  35      Python
8번    윤대협 NaN  190  100   85   90  95  95          C#

In [12]:
df

       이름  학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수 NaN  197   90   85  100  95  85      Python
2번    정대만 NaN  184   40   35   50  55  25        Java
3번    송태섭 NaN  168   80   75   70  80  75  Javascript
4번    서태웅 NaN  187   40   60   70  75  80         NaN
5번    강백호 NaN  188   15   20   10  35  10         NaN
6번    변덕규 NaN  202   80  100   95  85  80           C
7번    황태산 NaN  188   55   65   46  40  35      Python
8번    윤대협 NaN  190  100   85   90  95  95          C#

In [22]:
df["SW특기"].fillna("확인중", inplace =True)
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         확인중
5번    강백호  북산고  188   15   20   10  35  10         확인중
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [23]:
df.dropna(inplace =True)
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         확인중
5번    강백호  북산고  188   15   20   10  35  10         확인중
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [24]:
df =pd.read_excel("score.xlsx", index_col = "지원번호")
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   46  40  35      Python
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [ ]:
df.dropna(axis = "index", how = "any")