# 예시문제
회원들의 운동데이터(키,몸무게, 골격근량)을 분석하고, 특정 조건에 맞는 우수 회원을 선정하는 프로그램을 작성합니다.

In [3]:
import pandas as pd
import numpy as np


#dict 준비.
data = {
    '이름': ['김근육', '이슬림', '박파워', '최스트롱', '정유연', '한성장', '조성실', '유노력'],
    '성별': ['남', '여', '남', '남', '여', '남', '남', '여'],
    '키': [180, 165, 175, 182, 160, 178, 170, 162],
    '몸무게': [85, 52, 90, 88, 48, 75, 72, 55],
    '골격근량': [40.5, 22.0, np.nan, 42.0, 18.5, 35.0, np.nan, 24.5],
    '체지방률': [18, 25, 28, 15, 22, 20, 17, 24],
    '회원등급': ['Gold', 'Silver', 'Platinum', 'Gold', 'Silver', 'Bronze', 'Gold', 'Silver']   
}

df=pd.DataFrame(data)
df.index = ["M1","M2","M3","M4","M5","M6","M7","M8"]
df.index.name = "회원번호"
df

        이름 성별    키  몸무게  골격근량  체지방률      회원등급
회원번호
M1     김근육  남  180   85  40.5    18      Gold
M2     이슬림  여  165   52  22.0    25    Silver
M3     박파워  남  175   90   NaN    28  Platinum
M4    최스트롱  남  182   88  42.0    15      Gold
M5     정유연  여  160   48  18.5    22    Silver
M6     한성장  남  178   75  35.0    20    Bronze
M7     조성실  남  170   72   NaN    17      Gold
M8     유노력  여  162   55  24.5    24    Silver

In [4]:
df["골격근량"].fillna(30)
df

        이름 성별    키  몸무게  골격근량  체지방률      회원등급
회원번호
M1     김근육  남  180   85  40.5    18      Gold
M2     이슬림  여  165   52  22.0    25    Silver
M3     박파워  남  175   90   NaN    28  Platinum
M4    최스트롱  남  182   88  42.0    15      Gold
M5     정유연  여  160   48  18.5    22    Silver
M6     한성장  남  178   75  35.0    20    Bronze
M7     조성실  남  170   72   NaN    17      Gold
M8     유노력  여  162   55  24.5    24    Silver